*.pyc
*.swp
.fuse*
*experiment
experiment*
save*
*pth.tar
exp/*/
exp_iterative/*/
exp_full_mp3d/*/
exp_omnidepth/*/
exp_rebuttal/*/
exp_cvpr2020/*/
exp*/*/
*.zip
ourarch/*/
ourarch/*.zip
data/
output/
gg.py
__pycache__

BiFuse_mc/
L_con3/
L_con4/
L_con_w/
